.eargo-cybersource-layout-container {
  * {
    letter-spacing: normal;
    line-height: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    ::-webkit-scrollbar{
      width: 0px
      }
  }
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  max-width: 500px;
  margin: 0 auto;
  right: 0;
  transition: opacity 500ms;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  visibility: visible;
  opacity: 1;
  z-index: 99;
  .eargo-cybersource-layout-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(25, 24, 22, 0.5);
    background-repeat: no-repeat;
    background-size: inherit;
    position: relative;
    background-position: -270px 0px;
    height: 100%;
    max-height: 100vh;
    @media (max-width: 600px) {
      width: 100%;
      background-image: none;
    }
    .eargo-cybersource-layout-form-container {
      display: flex;
      justify-content: center;
      min-height: 100%;
      width: 100%;
      background-color: #f1efef;
      overflow: scroll;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .eargo-cybersource-layout-close {
        position: absolute;
        width: 15px;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
      .eargo-cybersource-layout-form-holder {
          display: flex;
          align-items: center;
          width: 80%;
          max-width: 400px;
          &.f-column {
            flex-direction: column;
          }
          iframe {
            height: 1000px;
            max-height: calc(100vh - 40px);
            box-shadow: none;
            border: none;
            -ms-overflow-style: none;
            scrollbar-width: none;
          }
          iframe::-webkit-scrollbar {
            width: 0px;
            display: none;
          }
      }
    }
  }
}

.eargo-cybersource-layout-container::-webkit-scrollbar,
.eargo-cybersource-layout-wrapper::-webkit-scrollbar {
  width: 0px;
  display: none;
}